charset_normalizer==3.4.7
docx==0.2.4
faiss-cpu
Flask==2.2.3
numpy
opencv_contrib_python==4.13.0.92
pandas==2.3.3
Pillow==12.2.0
PyPDF2==3.0.1
pytesseract==0.3.13
python_docx==1.2.0
rank_bm25==0.2.2
rapidfuzz==3.14.5
scikit-learn
sentence_transformers==5.5.1
tqdm==4.67.3
